.table-fixed thead {
  height: 10px;
  width: 100%;
}

.table-fixed tbody {
  height: 500px;
  overflow-y: auto;
  width: 100%;
}

.table-fixed thead, .table-fixed tbody, .table-fixed tr, .table-fixed td, .table-fixed th {
  display: block;
}
.table-fixed tbody > tr> td, .table-fixed thead > tr> th {
  float: left;
  border-bottom-width: 0;
}