{% include "analysis/navigation_bar.html" with head2="Reset Password" head3="" %}

<body>
<div class="container">

{% block content %}
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Submit</button>
    </form>
{% endblock %}

</div>
</body>
