{% include "analysis/navigation_bar.html" with head2="Reset password done" head3="" %}

<body>
<div class="container">

  <p>
    We've emailed you instructions for setting your password, if an account exists with the email you entered.
    You should receive them shortly.
  </p>
  <p>
    If you don't receive an email, please make sure you've entered the address you registered with,
    and check your spam folder.
  </p>

</div>
</body>
