{% include "analysis/navigation_bar.html" with head2="Reset password done" head3="" %}

<body>
<div class="container">

    <p>Your password has been set. You may go ahead and <a href="{% url 'user_login' %}">Log in</a> now.</p>

</div>
</body>
