{% include "analysis/navigation_bar.html" with head2="Run analysis" head3="The input files need to be under Collaboration folder in Wexac server. See help for more details." %}
{% load static %}
<head>
    <script type="text/javascript" src="{% static 'analysis/js/analysis.1.0.js' %}"></script>
</head>

<body>
<div class="container">
    {% if "Submit" in pipeline %}
    <form name="frm" id="form_analysis" action="{% url 'analysis:submit_analysis' pipeline %}" method="post">
    {% elif "Deseq" in pipeline %}
    <form name="frm" id="form_analysis" action="{% url 'analysis:run_deseq' pipeline %}" method="post">
    {% else %}
    <form name="frm" id="form_analysis" action="{% url 'analysis:analysis' pipeline %}" method="post">
    {% endif %}

        {% csrf_token %}

        <div class="main">
            {% if demosite %}
            <h3 style="color:red;">Note: This is a demo site that does not have full functionalities of UTAP application.<br>It demonstrates the user interface and examples of run results, and does not support running new analyses - other than running DESeq step on existing analyses from "User datasets" page.</h3>
            {% endif %}

            <div class="row">
                {% if "Submit" not in pipeline or "Deseq" not in pipeline%}
                <div class="col-md-4">
                    {% for field in form %}
                    {% if field.id_for_label == 'id_pipeline' %}
                    <div class="row"><p>
                        <div class="col-md-1"><abbr title="{{ field.help_text|safe }}">{{ field.label_tag }}</abbr>
                        </div>
                    </div>
                    <div class="row"><p>
                        <div class="col-md-1">{{ field }}</div>
                    </div>
                    {% endif %}
                    {% endfor %}
                </div>
                {% endif %}

                <div class="col-md-8">
                    <div class="row"><p>
                        <div class="col-md-4"><abbr><label for="id_chosen_pipeline">Chosen pipeline:</label></abbr></div>
                        <div class="col-md-4"><b><input id="id_chosen_pipeline" readonly="readonly" size=80 style="text-align: left;border: 0px solid;" value="{{ pipeline }}"/></b></div>
                    </div>

                    {% for field in form %}
                    {% if field.id_for_label == 'id_name' %}
                        <div class="row"><p>
                        <div class="col-md-2"><abbr title="{{ field.help_text|safe }}">{{ field.label_tag }}</abbr></div>
                        <div class="col-md-10"> date(D/M/Y)_time(H/M/S) {{ field }} {{ pipeline }}</div>
                        </div>
                    {% endif %}
                    {% if field.id_for_label != 'id_name' %}
                    {% if field.field.widget.attrs.form_id != 'advanced' %}
                    {% if field.id_for_label != 'id_pipeline' %}
                    {% include 'analysis/field.html' with field=field %}
                    {% endif %}
                    {% endif %}
                    {% endif %}
                    {% endfor %}
                    {% for hidden in form.hidden_fields %}
                    {{ hidden }}
                    {% endfor %}


                    {% if "Transcriptome" in pipeline or "DESeq" in pipeline or "ATAC-seq" in pipeline or "CHIP-seq" in pipeline %}
                    <div class='row' id="multiselect_temp"></div>
                    {% endif %}

                    {% if "Demultiplexing" in pipeline %}
                    <br>
                    <p><b>Copy and paste your sample names and barcodes from excell file (selecet the upper left cell
                        and paste your excel file content. The sheet will be enlarged automatically).</b></p>
                    <p>The sample names cannot contain the following characters: space character and ? ( ) [ ] . / \ = + < > : ; " ' , * ^ | & </p>
                        <div id="samplesheet_table"></div>
                    <br>
                    {% endif %}

<!--                    {% with False as has_advanced %}-->
<!--                    {% endwith %}-->
<!--                    {% for field in form %}-->
<!--                    {% if field.field.widget.attrs.app == app and field.field.widget.attrs.form_id == 'advanced' %}-->
<!--                    {% with True as has_advanced %}-->
<!--                    {% endwith %}-->
<!--                    {% endif %}-->
<!--                    {% endfor %}-->

                    <br/>


                    {% if advanced_form %}
                        <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#demo1">Advanced parameters</button>
                        <div id="demo1" class="collapse">
                             <br/>
                            {% for command in form.commands %}
                                    <input type='checkbox' data-toggle='collapse' data-target='#{{ command }}1' />{{ command }}
                                    <div id='{{ command }}1' class="collapse"> <p>
                                     {% for field in advanced_form %}
                                        {% if field.field.widget.attrs.command == command %}
                                            {% if field.help_text %}
                                                <div class="row"><p>
                                                <div class="col-md-6"><abbr title="{{ field.help_text|safe }}">{{ field.label_tag }}</abbr>
                                                </div>
                                                <div class="col-md-6">{{ field }}</div>
                                                </div>
                                            {% else %}
                                                <div class="row"><p>
                                                <div class="col-md-6">{{ field.label_tag }}</div>
                                                <div class="col-md-6">{{ field }}</div>
                                                </div>
                                            {% endif %}
                                        {% endif %}
                                    {% endfor %}
                                    </div>
                            {% endfor %}
                        </div>
                    {% endif %}
                    <br/>
                    <br/>



<!--                    $('#postageyes').click(function() {-->
<!--  $('#conditional1').toggle();-->
<!--});-->
<!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>-->
<!--<label>-->
<!--  <input type="checkbox" id="postageyes" name="postage1" value="Yes" />Yes</label>-->
<!--<div id="conditional1" style="display:none">-->
<!--  <p>This should only show when the 'Yes' checkbox &lt;input&gt; element is checked.</p>-->
<!--  <a href="">close</a>-->
<!--</div>-->


<!--                    {% if has_advanced %}-->
<!--                    <button type="button" data-toggle="collapse" data-target="#advanced_parameters"-->
<!--                            class="btn btn-info">-->
<!--                        Advanced parameters-->
<!--                    </button>-->
<!--                    {% endif %}-->
                    <button style="display: none;" type="submit" id="hidden-submit">Not Shown</button>
                    {% if "Deseq" not in pipeline and demosite %}
                    <input type="button" value="Run analysis (Demo)" class="btn btn-info" id="Run" onclick="submit_disable_button();"></input>
                    {% elif "Submit" not in pipeline %}
                    <input type="button" value="Run analysis" class="btn btn-info" id="Run" onclick="submit_disable_button();"></input>
                    {% else %}
                    <input type="button" value="Submit for runing in end of the sequencing" class="btn btn-info" id="Run" onclick="submit_disable_button();"></input>
                    {% endif %}

                    <!--<input type="button" class="btn btn-info" id="refresh" onclick="location.reload()" value="Reset parameters"></input>-->
                    <br/>
                    <br/>


<!--                    <div class="advanced collapse" id="advanced_parameters">-->
<!--                        {% for app in form.applications %}-->
<!--                        <h1>-->
<!--                            <div class="label label-default">{{ app }}</div>-->
<!--                        </h1>-->
<!--                        {% for field in form %}-->
<!--                        {% if field.field.widget.attrs.app == app and field.field.widget.attrs.form_id == 'advanced' %}-->
<!--                        {% if field.help_text %}-->
<!--                        <div class="row"><p>-->
<!--                            <div class="col-md-4"><abbr title="{{ field.help_text|safe }}">{{ field.label_tag }}</abbr>-->
<!--                            </div>-->
<!--                            <div class="col-md-4">{{ field }}</div>-->
<!--                        </div>-->
<!--                        {% else %}-->
<!--                        <div class="row"><p>-->
<!--                            <div class="col-md-4">{{ field.label_tag }}</div>-->
<!--                            <div class="col-md-4">{{ field }}</div>-->
<!--                        </div>-->
<!--                        {% endif %}-->
<!--                        {% endif %}-->
<!--                        {% endfor %}-->
<!--                       {% endfor %}&ndash;&gt;-->
<!--                    </div>&ndash;&gt;-->
                </div>
            </div>
            <br>
            <br>
        </div>

    </form>

    <div class="row"><p>
        {% if error_message %}
        <div class="alert alert-{{ message.level_tag }}">{{ error_message }}</div>
        {% endif %}

        {% if messages %}
        {% for message in messages %}
        <div class="alert alert-{{ message.level_tag }}">{{ message }}</div>
        {% endfor %}
        {% endif %}
    </div>
</div>

</body>


<script type="text/javascript">
    <!--FOR DEMO SITE-->
    <!--{% if "RNA-seq" in pipeline %}-->
        <!--$("#id_input_folder_wrap").before('<br><div class="col-md-4"></div><div class="col-md-4">Click on the button and select \'RNA-seq-input\' folder </div><br><br>');-->
    <!--{% else %}-->
        <!--$("#id_input_folder_wrap").before('<br><div class="col-md-4"></div><div class="col-md-4">Click on the button and select \'MARS-seq-input\' folder </div><br><br>');-->
    <!--{% endif %}-->

    function redirect(pipeline){
        if ( pipeline == '' ) { return; }
        setTimeout( function () {
            window.location = '{% url "analysis:analysis" "Demultiplexing" %}'.replace("Demultiplexing", pipeline);}, 500)
    };


</script>
</html>