{% include "analysis/navigation_bar.html" %}

{% block content %}
{% for message in messages %}
<div class="alert alert-{{ message.tags }}">{{ message }}</div>
{% endfor %}

<body>
{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

<div class="container">
    <h1>{{ analysis.name }}</h1>
    <div class="row">
        <p><div class="col-md-2">Name:</div></p>
        <p><div class="col-md-4">{{ analysis.name }}</div></p>
    </div>
    <div class="row">
        <p><div class="col-md-2">Job-id:</div></p>
        <p><div class="col-md-4">{{ analysis.id }}</div></p>
    </div>
    <div class="row">
        <p><div class="col-md-2">Status:</div></p>
        <p><div class="col-md-4">{{ analysis.status }}</div></p>
    </div>
    <div class="row">
        <p><div class="col-md-2">Pipeline:</div></p>
        <p><div class="col-md-4">{{ analysis.pipeline }}</div></p>
    </div>
    <div class="row">
        <p><div class="col-md-2">Created:</div></p>
        <p><div class="col-md-4">{{ analysis.date }}</div></p>
    </div>
    {% if analysis.user != analysis.user_run %}
    <div class="row">
        <p><div class="col-md-2">Run by:</div></p>
        <p><div class="col-md-4">{{ analysis.user_run }}</div></p>
    </div>
    {% endif %}
    <div class="row">
        <p><div class="col-md-2">Results:</div></p>
        <p><div class="col-md-4"><a href="{{ analysis.results }}" target="_blank"> Results </a></div></p>
    </div>
    <div class="row">
        <p><div class="col-md-2">Parameters:</div></p>
        <p><div class="col-md-4"><a href="{{ analysis.parameters }}" target="newtab"> Parameters file </a></div></p>
    </div>
    {% if "Submit" not in analysis.pipeline and "Transcriptom" in analysis.pipeline and "Deseq" not in analysis.pipeline and analysis.status == "SUCCESSFUL" %}
    {% with analysis.pipeline|add:" Deseq" as pipelinedeseq %}
    <div class="row">
        <p><div class="col-md-4"><a
                href="{% url 'analysis:run_deseq' pipelinedeseq %}?params_file={{ analysis.parameters_json }}"
                class="btn btn-info navbar-btn" target="newtab">Run Deseq again with other parameters</a></div></p>
    </div>
    {% endwith %}
    {% endif %}
    {% if analysis.status != "RUNNING" or analysis.status != "COPY FASTQ FILES" %}
    <div class="row">
        <p><div class="col-md-4">
            {% if demosite %}
            <button class="btn btn-danger navbar-btn" id="id_delete_analysis" onclick="alert('Cannot delete in demo site')">Delete</button>
            {% else %}
            <button class="btn btn-danger navbar-btn" id="id_delete_analysis" onclick="confirm_delete( '{{ analysis.name }}', '{{ analysis.pipeline }}' )">Delete</button>
            {% endif %}
        </div></p>
    </div>
    {% endif %}
</div>
</body>

{% endblock %}