{% include "analysis/navigation_bar.html" with head2="Login as another user without password" head3="Choose users from ldap of Weizmann Institute. The user must to login one time to the system, with own password. " %}

<html>
<body>
<div class="container">
    <form action="{% url 'analysis:login_as' %}" method="post">
        {% csrf_token %}
        {{ form }}
        </br>
        <div class="row"><p>
            <div class="col-md-2"></div>
            <div class="col-md-6">
                <input type="submit" value="Login" class="btn btn-info">
            </div>
        </div>

    </form>
</div>
</body>
</html>
