<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
{% load static %}


<head>
    <title>UTAP - NGS PIPELINES</title>
    <meta charset="utf-8">

    <link rel="stylesheet" type="text/css" href="{% static 'analysis/css/scrolled_table.css' %}"/>
    <link rel="stylesheet" href="{% static 'analysis/css/sticky-footer.css' %}">
    <link rel="stylesheet" href="{% static 'analysis/css/multiselect.css' %}">
    <link rel="stylesheet" href="{% static 'analysis/css/jquery.jexcel.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'analysis/css/drawdrop.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'analysis/css/w3.css' %}" type="text/css">
    <link rel="shortcut icon" type="image/x-icon"  href="{% static 'analysis/images/bbcuLogoIcon.png' %}"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="{% static 'analysis/js/jquery.jexcel.js' %}"></script>
    <script type="text/javascript" src="{% static 'analysis/js/navigation_bar.1.0.js' %}"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-csv/0.71/jquery.csv-0.71.min.js"></script>
    <script type="text/javascript" src="{% static 'analysis/js/drawdrop.js' %}"></script>
    <script type="text/javascript" src="{% static 'analysis/js/multiselect.js' %}"></script>
    <script type="module" src="{% static 'analysis/js/create-boxes.js' %}"></script>
    <script type="text/javascript" src="{% static 'analysis/js/boxes-trascriptome-batches-colors.js' %}"></script>
    <script type="text/javascript" src="{% static 'analysis/js/delete-analysis.js' %}"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/interact.js/1.2.8/interact.min.js"></script>
    <script type="text/javascript" src="{% static 'smart-selects/admin/js/chainedfk.js' %}"></script>
    <script type="text/javascript" src="{% static 'smart-selects/admin/js/chainedm2m.js' %}"></script>
    <script type="text/javascript" src="{% static 'smart-selects/admin/js/bindfields.js' %}"></script>
    <script type="text/javascript" src="{% static 'filebrowser/js/AddFileBrowser.js' %}"></script>
    <script type="text/javascript" src="{% static 'filebrowser/js/FB_CKEditor.js' %}"></script>
    <script type="text/javascript" src="{% static 'filebrowser/js/FB_FileBrowseField.js' %}"></script>
    <script type="text/javascript" src="{% static 'filebrowser/js/FB_TinyMCE.js' %}"></script>
    <script type="text/javascript" src="{% static 'filebrowser/js/FB_TinyMCEv4.js' %}"></script>
    <script type="text/javascript" src="{% static 'filebrowser/js/fileuploader.js' %}"></script>
    <script type="text/javascript" src="{% static 'filebrowser/js/TinyMCEAdmin.js' %}"></script>
    <script type="text/javascript" src="{% static 'filebrowser/js/TinyMCEv4Admin.js' %}"></script>
    <script type="text/javascript" src="{% static 'analysis/js/angular.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'analysis/js/flow.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'analysis/js/ng-flow-standalone.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'analysis/js/analysis_progress.js' %}"></script>



</head>
<body>

<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="pull-left">
            <div class="navbar-header">
                <a class="navbar-brand" href="{% url 'analysis:user_datasets' %}">UTAP - NGS PIPELINES</a>
            </div>
            {% if user.username != 'submit' %}
            <ul class="nav navbar-nav">
                <li class="active"><a href="{% url 'analysis:user_datasets' %}">User Datasets</a></li>
                <li class="active"><a href="{% url 'analysis:upfolder' %}">Upload data</a></li>
                <li class="active"><a href="{% url 'analysis:choice_analysis' %}">Run pipeline</a></li>
                {% if demosite %}
                <a href="https://utap.readthedocs.io" class="btn btn-danger navbar-btn" target="_blank">Help</a>
                {% else %}
                <a href="https://bbcunit.atlassian.net/wiki/spaces/BP/pages/509214758/UTAP+guidelines-+User-friendly+Transcriptome+Analysis+Pipeline" class="btn btn-danger navbar-btn" target="_blank">Help</a>
                {% endif %}
            </ul>
            {% endif %}
        </div>
        <div class="pull-right">
            {% if user.loggedas_username and user.is_active %}
                <button class="btn btn-danger navbar-btn" onclick="location.href='{% url 'analysis:user_logout' %}'">{{ user.username}} run as {{ user.loggedas_username }} Logout</button>
            {% else %}
            {% if user.username and user.is_active %}
                <button class="btn btn-danger navbar-btn" onclick="location.href='{% url 'analysis:user_logout' %}'">{{ user.username }} Logout</button>
            {% endif %}
            {% endif %}
            {% if user.username != 'submit' %}
            {% if user.is_superuser %}
                <button class="btn btn-danger navbar-btn" onclick="location.href='{% url 'login' %}'">Admin Site</button>
            {% endif %}
            {% if user.is_superuser %}
                <button class="btn btn-danger navbar-btn" onclick="location.href='{% url 'analysis:login_as' %}'">Run As User</button>
            {% endif %}
            {% endif %}
        </div>
    </div>
</nav>


<div class="container">
    <h1 id="invalid_browser" align="center" style="color:red"></h1>
    <h2>{{ head2 }}</h2>
    <p>{{ head3 }}</p><br>
    <hr>
</div>

<footer class="container-fluid text-center footer navbar-fixed-bottom" style='height: 80px;'>
  <div class="container">
    <div class="text-muted">
        <div class="row">
        Citing UTAP: UTAP: User-friendly Transcriptome Analysis Pipeline. BMC Bioinformatics 2019, 20(1):154

        </div>

        <div class="row">
            <div class="col-md-2">
                <br><br>UTAP - Version {{ version }}
            </div>
            <div class="col-md-5">
              <img src="{% static 'analysis/images/wis_logo_heb_v1.png' %}">
            </div>
            <div class="col-md-5">
                Developed by <b><a href="mailto:utap@weizmann.ac.il">Refael Kohen</a></b><br>Bioinformatics unit at Life Sciences Core Facilities (LSCF)<br>Weizmann Institute of Science&nbsp&nbsp&nbsp&nbsp
            </div>
        </div>
    </div>
  </div>
</footer>


</body>
</html>


