<!--{% for field in form %}-->
    <!--{% ifequal field.id_for_label 'basic' %}-->
        <!--{{ field.label_tag }} {{ field }}-->
        <!--{% if field.help_text %}-->
            <!--<p class="help">{{ field.help_text|safe }}</p>-->
        <!--{% endif %}-->
    <!--{% endifequal %}-->
<!--{% endfor %}-->


<!--<div class="advanced collapse" id="advanced_parameters">-->
    <!--{% for field in form %}-->
        <!--{% ifequal field.id_for_label 'advanced' %}-->
            <!--{{ field.label_tag }} {{ field }}-->
            <!--{% if field.help_text %}-->
                <!--<p class="help">{{ field.help_text|safe }}</p>-->
            <!--{% endif %}-->
        <!--{% endifequal %}-->
    <!--{% endfor %}-->
<!--</div>-->
