
{{ mname }}


<!--<head>-->
<!--<script src="jquery-3.1.1.min.js"></script>-->
<!--</head>-->
<head>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
</head>

<form action="{% url 'analysis:test' %}" method="post">
    {% csrf_token %}
    <div class="choice">
        {{ form.as_table }}
    </div>
    <input type="submit" value="OK">
</form>


<script>

    function refresh(a){
        var div = document.createElement('div');
        div.className = 'parameters';
                    alert('bla');

        if (a == "blue") {
            <!--div.innerHTML ='<li><label><input name="par" type="text" value="blue" required /> v1</label></li>';-->
            <!--div.innerHTML = $.ajax({ url: 'stest.html', success: function(data) { alert(data); } });;-->
            jQuery.get({% url 'analysis:stest' %}, function(data) {div.innerHTML = data});
        } else {
            div.innerHTML = '<li><label><input name="par" type="text" value="green" required /> v1</label></li>';
        }
        var elements = document.getElementsByClassName("parameters");
        while(elements.length > 0){
            elements[0].parentNode.removeChild(elements[0]);
        }
        document.getElementsByClassName("choice")[0].appendChild(div);
    }
</script>