{% include "analysis/navigation_bar.html" with head2="Instruction for uploading data to server" %}
<div class="container">
    <p>Before you run pipeline, you need upload the input file to server:<br><br>.
    Press on "choose files" button and select the root folder of the files<br><br>.

        <b>Uploading folder of fastq files</b><br><br>
        - Fastq files must be orginazed, within the selected folder (root folder), into subfolders as shown below.  The subfolders names are derived from the sample names.<br>
        - Each subfolder contains the fastq file. The fastq file can be compressed in "gz" format.<br>
        - Fastq file names must to end with "_R1.fastq(.gz)"  or "_R1.fq(.gz)" for single-read data. The "R" letter donate the read number.<br>
        - In the case of paired-end data (required for Mars-Seq), corresponding files must exist except for the ending "_R2.fastq(.gz)" (or "_R2.fastq(.gz)") instead of "_R1.fastq".<br><br>
        - For example:<br><br>
        <ul>
        <li>root folder
        <ul>
          <li>
            <ul>sample1
              <li>sample1_R1.fastq</li>
              <li>sample1_R2.fastq (must exists in Mars-seq  and in paired-end)</li>
            </ul>
          </li>
          <li>
            <ul>sample2
              <li>sample2_R1.fastq</li>
              <li>sample2_R2.fastq (must exists in Mars-seq  and in paired-end)</li>
            </ul>
          </li>
        </ul>
        </li>
        </ul>

        <br><br>
        - The pipeline can support in old convention of the fastq file names *_L00*_R1_0*.fastq. The letter "L" donate the lane number, "R" letter donate the read number, and the numbers 001,002 etc donate serial number of the file for each lane and read
        <br><br>- For example:<br><br>
        <ul>
        <li>root folder
        <ul>
          <li>
            <ul>sample1
              <li>sample1_S0_L001_R1_001.fastq</li>
              <li>sample1_S0_L001_R1_002.fastq</li>
              <li>sample1_S0_L002_R1_001.fastq</li>
              <li>sample1_S0_L002_R1_002.fastq</li>
              <li>sample1_S0_L001_R2_001.fastq</li>
              <li>sample1_S0_L001_R2_002.fastq</li>
              <li>sample1_S0_L002_R2_001.fastq</li>
              <li>sample1_S0_L002_R2_002.fastq</li>
            </ul>
          </li>
          <li>
            <ul>sample2
            <li>...</li>
            </ul>
          </li>
        </ul>
        </li>
        </ul>

        <b>Uploading folder of bcl files (for demultiplexing pipeline)</b><br><br>
        - Upload the original bcl folder. Original folder name need to look like this: 180514_NB551168_0123_AHTHHKBGX5 <br><br><br><br><br><br>


    </p>
</div>
