/*
div[class="row"] {
    border: 1px dotted rgba(0, 0, 0, 0.5);
}

div[class^="col-"] {
    background-color: rgba(255, 0, 0, 0.2);
}
*/

.red {color:red;}
.darkGrey {color:darkGrey;}
.saddleBrown {color:saddleBrown;}
.pink {color:pink;}
.green {color:green;}
.yellowGreen {color:yellowGreen;}
.orange {color:orange;}
.gold {color:gold;}
.navy {color:navy;}
.aqua {color:aqua;}
.mediumVioletRed {color:mediumVioletRed;}
.orchid {color:orchid;}

.selectedcolor_red {color:red;}
.selectedcolor_darkGrey {color:darkGrey;}
.selectedcolor_saddleBrown {color:saddleBrown;}
.selectedcolor_pink {color:pink;}
.selectedcolor_green {color:green;}
.selectedcolor_yellowGreen {color:yellowGreen;}
.selectedcolor_orange {color:orange;}
.selectedcolor_gold {color:gold;}
.selectedcolor_navy {color:navy;}
.selectedcolor_aqua {color:aqua;}
.selectedcolor_mediumVioletRed {color:mediumVioletRed;}
.selectedcolor_orchid {color:orchid;}


